
.text-center {
  text-align: center;
}

.margin-auto {
  margin: 0 auto;
}

:host{
  .title{
    text-align: center;
  }

  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  .tabella{
    height: 70vh;
    width: 50%;
    margin: 0 auto;
  }

  .action-buttons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}


